---
title: Urban
---

<section class="hero diagonal">
    <hr class="line"/>
	<div class="container halves">
        <img src="{{ site.baseurl }}/images/frisk.png" width="350"/>
        <div class="editable">
            <h2 class="editable">Web Resume</h2>
            <p class="subtext editable">I am an <strong>allround</strong> web developer with good knowledge of front-end techniques.</p>
        </div>
    </div>
</section>

<section class="diagonal background-image">
	<div class="container halves">
		<div>
			<h3 class="editable">Web Resume</h3>
			<p class="editable">We take pride in our previous work and our happy customers. We cater to any sector to boost business and increase exposure.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/pc.png" width="250" style="margin-bottom: 40px;"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Skills</h3>
			<p class="editable">
                <ul class="skills">
                <li>HTML + HTML5</li>
                <li>CSS + CSS3</li>
                <li>React</li>
                <li>JavaScript</li>
                <li>Java</li>
                <li>PHP</li>
                <li>MySQL</li>
                <li>Databases</li>
                <li>...and More!</li>
                </ul>
            </p>
            <p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Me</a></p>
		</div>
	</div>
</section>
